/* banner  */
* {
  box-sizing: border-box;
}
#carouselExampleCaptions {
  object-fit: cover;
  width: 100%;
}

.first-section {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.first-menu-botton {
  display: flex;
  align-content: flex-start;
}
.second-menu-botton {
  align-content: end;
}
.navbar-toggler-icon {
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.menubtn {
  display: block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  min-width: 80px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-menu a {
  color: black;
  padding: 6px 8px;
  font-size: 0.6em;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
}

.menubtn a:hover {
  background-color: #ddd;
}

.dropdown-menu-second {
  border: 0px;
  margin: 0px 0px 0px -40px;
}

.show {
  display: block;
}

/* second section */
.inner-section2 {
  width: 69em;
}

@media (max-width: 991.98px) {
  .inner-section2 {
    width: auto;
  }
}
/* thrid section  */
.three-section {
  height: 200px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* four section  */

.four-section {
  height: 25em;
}
.inner-four-div {
  width: 65em;
  height: 20em;
}
.tab-content {
  object-fit: cover;
}
